* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -webkit-font-smoothing: antialiased;
  font-size: $font-size-main;
  //line-height: $line-hight-main;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

body {
  font-family: $font-main;
  color: $black;
  background-color: #ffffff;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: $green;
  font-weight: 400;

  &:hover {
    color: $black;
  }
}