.interviews {
  .interview {
    margin-bottom: 20px;

    figure {
      position: relative;
      height: 300px;

      img {
        padding: 5px;
        width: 100%;
        height: 50%;
        object-fit: cover;
        border-radius: 10px;
        transition: all 0.75s ease;

        &:hover {
          transform: scale(1.025);
        }

        @include breakpoint(tp) {
          height: 45%;
        }
      }

      figcaption {
        margin-left: 10px;
        margin-right: 10px;

        ul {
          list-style: none;
          color: $black-alpha;
          font-size: 0.75rem;
          text-transform: lowercase;
          font-family: $font-headline;
          font-weight: 500;

          li {
            display: inline;

            a {
              text-decoration: none;
              color: $black-alpha;

              &:hover {
                color: $black;
              }
            }
          }
        }

        .post-link {
          text-decoration: none;
          color: $black;

          &:hover {
            text-decoration: underline;
          }
        }

        h2 {
          text-transform: uppercase;
          font-weight: 400;
          font-size: 1rem;
          padding-bottom: 5px;
          padding-top: 5px;
        }

        p.post-excerpt {
          text-align: justify;
          font-size: 0.75rem;
        }

        p.post-category {
          position: absolute;
          top: 0;
          right: 0;
          text-align: right;
          padding-top: 5px;
          padding-right: 7px;

          a {
            text-decoration: none;
            color: inherit;

            &:hover {
              text-decoration: underline;
            }
          }
        }

        p.post-date {
          padding-top: 5px;
          font-size: 0.75rem;
          font-family: $font-headline;
          color: $black-alpha;
          font-weight: 500;
        }
      }
    }
  }
}