.page {

  .page-content {
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;

    p {
      font-family: $font-serif;
      margin-bottom: 1.5rem;
    }

    b {
      font-family: $font-main;
      font-weight: 400;
    }
  }
}