.post {
  margin: auto;
  padding: 0 4em;

  .post-header {
    text-align: center;
    margin-bottom: 60px;

    .post-info {
      margin-bottom: 20px;
    }

    .post-title {
      font-weight: 900;
      font-size: 3rem;
      line-height: 3rem;
    }

    .post-description {
      font-weight: 500;
      font-size: 1.5rem;
    }

    .tags {
      list-style: none;
      color: $black-alpha;
      text-transform: lowercase;
      font-family: $font-headline;

      li {
        display: inline;

        a {
          text-decoration: none;
          color: $black-alpha;

          &:hover {
            color: $black;
          }
        }
      }
    }

    .post-meta {
      span:first-of-type {
        margin-right: 1em;
      }
    }
  }

  .question {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 0.5em;
    margin-top: 1.5em;
  }

  .answer {
    font-size: 1.15rem;
    margin-bottom: 0.5em;
  }

  .post-content {
    font-family: $font-serif;

    h2 {
      @extend .question
    }

    p {
      @extend .answer
    }

    img {
      width: 100%;
      height: auto;
    }
  }
}