footer {
  text-align: center;
  color: $gray-medium;
  
  div.footer {
    margin-top: 40px;
    margin-bottom: 0;
    text-align: right;
    font-size: 0.75rem;
    color: $gray-medium;
  }

  div.footer-social {
    margin-top: 80px;

    a {
      color: $gray-medium;
      text-decoration: none;
      letter-spacing: 5px;

      &:visited {
        color: $gray-medium;
      }

      &:hover {
        color: $gray-dark;
      }
    }
  }

  div.footer-imprint {
    font-size: 0.75rem;
    margin-bottom: 80px;

    span:nth-child(2) {
      margin-left: 10px;
    }
  }
}