.search-form {
  //float: right;
  display: inline;

  input {
    outline: none;
    border: none;
    width: 90px;
    border-bottom: 1px dotted $gray-dark;
    font-family: $font-main;
    display: inline;
  }

  button {
    border: none;
    padding-bottom: 2px;
    background: none;
    color: $gray-dark;
    font-size: 0.9rem;
    display: inline;

    &:hover {
      cursor: pointer;
      color: $green;
    }
  }

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}