.search-form {
  float: right;

  input {
    outline: none;
    border: none;
    width: 300px;
    border-bottom: 1px solid $gray-light;
    font-family: $font-main;
    font-weight: 400;
    font-size: 1rem;
    display: inline;
  }

  button {
    border: none;
    padding-bottom: 2px;
    background: none;
    color: $gray-medium;
    font-size: 1rem;
    display: inline;

    &:hover {
      cursor: pointer;
      color: $black;
    }
  }

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}