div.section-header {
  margin-top: 40px;;

  h2 {
    font-size: 1rem;
    font-weight: 300;
    font-family: $font-headline;
    text-transform: lowercase;
    color: $color-font-main;

    span {
      font-weight: 500;
      font-style: italic;
      color: $green;
    }
  }
}

.section-content {
  padding: 10px;
  background-color: $gray-light-alpha;
}