#theater {

  padding: 20px;
  font-size: 1.25rem;

  .question {
    font-weight: 400;
    padding-bottom: 10px;
  }

  .answer {
    font-weight: 300;
  }
}

.contact {
  background-color: $gray-light-alpha;

  i {
    color: $gray-medium;
  }

  table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  th {
    text-transform: lowercase;
    padding-bottom: 0.5rem;
    font-weight: 400;
  }

  td {
    vertical-align: top;
    padding-right: 0.5rem;
    padding-bottom: 0.25rem;
    font-weight: 300;

    a {
      text-decoration: none;
      color: $green;
      font-weight: 400;

      &:hover {
        color: $black;
      }
    }
  }

  p {
    margin: 20px;
  }
}