div.home {
  div#jumbo {
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    //padding: 10% 0;
    //background-color: $green-alpha;
    background-image: url('../images/map.jpg');
    background-size: auto;
    //background: radial-gradient(yellow, #009966, purple);

    div.title {
      margin-right: 30%;
      position: relative;
      text-align: right;
      font-family: $font-headline;
      font-weight: 200;

      h1 {
        font-weight: 200;
        //padding: 0;
        margin: 0;
        font-size: 5rem;
        line-height: 5rem;
      }

      p {
        margin: 0;
        font-size: 2rem;      
        color: #5D9CEC;
      }
    }
  }

  div.recent-interviews {
    margin-top: 5%;

    h2 {
      font-size: 1rem;
      font-weight: 300;
      font-family: $font-headline;
      text-transform: lowercase;
      color: $color-font-main;
    }
  }
}