<div class="i-g page">
  <div class="i-12 page-content">
    <div theater id="theater">
      <div class="question"><i class="fa fa-question-circle"></i> <span id="question" class="question"></span></div>
      <div class="answer"><i class="fa fa-hand-o-right"></i> <span id="answer" class="answer"></span></div>          
    </div>
  </div>
  <div class="i-6 i-mp-4 i-ml-4 i-tp-2 i-tl-2 page-content contact">
    <table>
      <tr>
        <th colspan="2">Tanzmobil Productions Vienna</th>
      </tr>
      <tr>
        <td><i class="fa fa-user"></i></td>
        <td>Sarah Blumenfeld</td>
      </tr>
      <tr>
        <td><i class="fa fa-map-marker"></i></td>
        <td>Schiffamtsgasse 18/26<br>1020 Wien, Österreich</td>
      </tr>
      <tr>
        <td><i class="fa fa-envelope-o"></i></td>
        <td><a href="mailto:info@tanzmobil.eu" target="_top">info@tanzmobil.eu</a></td>
      </tr>
    </table>
  </div>
  <div class="i-6 i-mp-4 i-ml-4 i-tp-2 i-tl-2 page-content contact">
    <table>
      <tr>
        <th colspan="2">Tanzmobil Productions Berlin</th>
      </tr>
      <tr>
        <td><i class="fa fa-user"></i></td>
        <td>Mira Lina Simon</td>
      </tr>
      <tr>
        <td><i class="fa fa-map-marker"></i></td>
        <td>Oppelner Straße 38<br>10997 Berlin, Deutschland</td>
      </tr>
      <tr>
        <td><i class="fa fa-envelope-o"></i></td>
        <td><a href="mailto:info@tanzmobil.eu" target="_top">info@tanzmobil.eu</a></td>
      </tr>
    </table>
  </div>
</div>