@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900);
/*-------------------------------------------------------- 
    IceCream 0.1.0
    Created on : 23 nov. 2013, 20:07:41
    Author     : HTML5 Ninja - twitter @html5_ninja
                 zied hosni - zied.hosni.mail@gmail.com
    More info  : http://html5-ninja.com/icecream
--------------------------------------------------------*/
/*-------------------------------------------------------- 
    Grids
--------------------------------------------------------*/
.i-g {
  clear: both;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

.i-g > div {
  margin: 0.5208333333333334% 1.0416666666666667%;
  float: left;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

.i-g .i-0 {
  display: none; }

.i-g .i-1 {
  width: 6.25%; }

.i-g .i-2 {
  width: 14.583333333333334%; }

.i-g .i-3 {
  width: 22.916666666666668%; }

.i-g .i-4 {
  width: 31.250000000000004%; }

.i-g .i-5 {
  width: 39.583333333333336%; }

.i-g .i-6 {
  width: 47.91666666666667%; }

.i-g .i-7 {
  width: 56.25000000000001%; }

.i-g .i-8 {
  width: 64.58333333333334%; }

.i-g .i-9 {
  width: 72.91666666666667%; }

.i-g .i-10 {
  width: 81.25%; }

.i-g .i-11 {
  width: 89.58333333333334%; }

.i-g .i-12 {
  width: 97.91666666666667%; }

.i-container {
  width: 900px;
  margin: auto; }

.i-img img {
  max-width: 100%; }

@media only screen {
  /* Smartphones (portrait) ----------- */
  /* Smartphones (landscape) ----------- */
  /* tablet (portrait) ----------- */
  /* tablet (landscape) ----------- */ }
@media only screen and (max-width: 900px) {
  .i-container {
    width: 100%; } }
@media only screen and (max-width: 320px) {
  .i-g .i-mp-0 {
    display: none; }

  .i-g .i-mp-1 {
    width: 22.916666666666668%; }

  .i-g .i-mp-2 {
    width: 47.91666666666667%; }

  .i-g .i-mp-3 {
    width: 72.91666666666667%; }

  .i-g .i-mp-4 {
    width: 97.91666666666667%; } }
@media only screen and (min-width: 321px) and (max-width: 480px) {
  .i-g .i-ml-0 {
    display: none; }

  .i-g .i-ml-1 {
    width: 22.916666666666668%; }

  .i-g .i-ml-2 {
    width: 47.91666666666667%; }

  .i-g .i-ml-3 {
    width: 72.91666666666667%; }

  .i-g .i-ml-4 {
    width: 97.91666666666667%; } }
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .i-g .i-tp-0 {
    display: none; }

  .i-g .i-tp-1 {
    width: 22.916666666666668%; }

  .i-g .i-tp-2 {
    width: 47.91666666666667%; }

  .i-g .i-tp-3 {
    width: 72.91666666666667%; }

  .i-g .i-tp-4 {
    width: 97.91666666666667%; } }
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .i-g .i-tl-0 {
    display: none; }

  .i-g .i-tl-1 {
    width: 22.916666666666668%; }

  .i-g .i-tl-2 {
    width: 47.91666666666667%; }

  .i-g .i-tl-3 {
    width: 72.91666666666667%; }

  .i-g .i-tl-4 {
    width: 97.91666666666667%; } }
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  -ms-touch-action: manipulation;
  touch-action: manipulation; }

body {
  font-family: "Roboto", sans-serif;
  color: #434A54;
  background-color: #ffffff;
  font-weight: 300; }

a {
  text-decoration: none;
  color: #48CFAD;
  font-weight: 400; }
  a:hover {
    color: #434A54; }

.post {
  margin: auto;
  padding: 0 4em; }
  .post .post-header {
    text-align: center;
    margin-bottom: 60px; }
    .post .post-header .post-info {
      margin-bottom: 20px; }
    .post .post-header .post-title {
      font-weight: 900;
      font-size: 48px;
      font-size: 3rem;
      line-height: 48px;
      line-height: 3rem; }
    .post .post-header .post-description {
      font-weight: 500;
      font-size: 24px;
      font-size: 1.5rem; }
    .post .post-header .tags {
      list-style: none;
      color: rgba(67, 74, 84, 0.5);
      text-transform: lowercase;
      font-family: "Raleway", sans-serif; }
      .post .post-header .tags li {
        display: inline; }
        .post .post-header .tags li a {
          text-decoration: none;
          color: rgba(67, 74, 84, 0.5); }
          .post .post-header .tags li a:hover {
            color: #434A54; }
    .post .post-header .post-meta span:first-of-type {
      margin-right: 1em; }
  .post .question, .post .post-content h2 {
    font-size: 20px;
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 0.5em;
    margin-top: 1.5em; }
  .post .answer, .post .post-content p {
    font-size: 18px;
    font-size: 1.15rem;
    margin-bottom: 0.5em; }
  .post .post-content {
    font-family: "Roboto Slab", serif; }
    .post .post-content img {
      width: 100%;
      height: auto; }

.page .page-content {
  padding-top: 40px;
  padding-left: 10px;
  padding-right: 10px; }
  .page .page-content p {
    font-family: "Roboto Slab", serif;
    margin-bottom: 24px;
    margin-bottom: 1.5rem; }
  .page .page-content b {
    font-family: "Roboto", sans-serif;
    font-weight: 400; }

#theater {
  padding: 20px;
  font-size: 20px;
  font-size: 1.25rem; }
  #theater .question, #theater .post .post-content h2, .post .post-content #theater h2 {
    font-weight: 400;
    padding-bottom: 10px; }
  #theater .answer, #theater .post .post-content p, .post .post-content #theater p {
    font-weight: 300; }

.contact {
  background-color: rgba(204, 209, 217, 0.5);
  margin-bottom: 20px !important; }
  .contact i {
    color: #AAB2BD; }
  .contact table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px; }
  .contact th {
    text-transform: lowercase;
    padding-bottom: 8px;
    padding-bottom: 0.5rem;
    font-weight: 400; }
  .contact td {
    vertical-align: top;
    padding-right: 8px;
    padding-right: 0.5rem;
    padding-bottom: 4px;
    padding-bottom: 0.25rem;
    font-weight: 300; }
    .contact td a {
      text-decoration: none;
      color: #48CFAD;
      font-weight: 400; }
      .contact td a:hover {
        color: #434A54; }
  .contact p {
    margin: 20px; }

.logo {
  padding: 20px;
  height: 100%;
  object-fit: scale-down; }

div.fixed-height {
  height: 180px; }
  @media (min-width: 321px) and (max-width: 480px) {
    div.fixed-height {
      height: 250px; } }

.interviews .interview {
  margin-bottom: 20px; }
  .interviews .interview figure {
    position: relative;
    height: 300px; }
    .interviews .interview figure img {
      padding: 5px;
      width: 100%;
      height: 50%;
      object-fit: cover;
      border-radius: 10px;
      transition: all 0.75s ease; }
      .interviews .interview figure img:hover {
        -webkit-transform: scale(1.025);
                transform: scale(1.025); }
      @media (min-width: 481px) and (max-width: 768px) {
        .interviews .interview figure img {
          height: 45%; } }
    .interviews .interview figure figcaption {
      margin-left: 10px;
      margin-right: 10px; }
      .interviews .interview figure figcaption ul {
        list-style: none;
        color: rgba(67, 74, 84, 0.5);
        font-size: 12px;
        font-size: 0.75rem;
        text-transform: lowercase;
        font-family: "Raleway", sans-serif;
        font-weight: 500; }
        .interviews .interview figure figcaption ul li {
          display: inline; }
          .interviews .interview figure figcaption ul li a {
            text-decoration: none;
            color: rgba(67, 74, 84, 0.5); }
            .interviews .interview figure figcaption ul li a:hover {
              color: #434A54; }
      .interviews .interview figure figcaption .post-link {
        text-decoration: none;
        color: #434A54; }
        .interviews .interview figure figcaption .post-link:hover {
          text-decoration: underline; }
      .interviews .interview figure figcaption h2 {
        text-transform: uppercase;
        font-weight: 400;
        font-size: 16px;
        font-size: 1rem;
        padding-bottom: 5px;
        padding-top: 5px; }
      .interviews .interview figure figcaption p.post-meta {
        font-size: 12px;
        font-size: 0.75rem; }
      .interviews .interview figure figcaption p.post-category {
        position: absolute;
        top: 0;
        right: 0;
        text-align: right;
        padding-top: 5px;
        padding-right: 7px; }
        .interviews .interview figure figcaption p.post-category a {
          text-decoration: none;
          color: inherit; }
          .interviews .interview figure figcaption p.post-category a:hover {
            text-decoration: underline; }
      .interviews .interview figure figcaption p.post-date {
        padding-top: 5px;
        font-size: 12px;
        font-size: 0.75rem;
        font-family: "Raleway", sans-serif;
        color: rgba(67, 74, 84, 0.5);
        font-weight: 500; }

div.home div#jumbo {
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url("../images/map.jpg");
  background-size: auto; }
  div.home div#jumbo div.title {
    margin-right: 30%;
    position: relative;
    text-align: right;
    font-family: "Raleway", sans-serif;
    font-weight: 200; }
    @media (min-width: 481px) and (max-width: 768px) {
      div.home div#jumbo div.title {
        margin-right: 20%; } }
    @media (min-width: 321px) and (max-width: 480px) {
      div.home div#jumbo div.title {
        margin-right: 20px; } }
    @media (max-width: 320px) {
      div.home div#jumbo div.title {
        margin-right: 20px; } }
    div.home div#jumbo div.title h1 {
      font-weight: 200;
      margin: 0;
      font-size: 80px;
      font-size: 5rem;
      line-height: 80px;
      line-height: 5rem; }
      @media (min-width: 321px) and (max-width: 480px) {
        div.home div#jumbo div.title h1 {
          font-size: 4rem;
          line-height: 4rem; } }
      @media (max-width: 320px) {
        div.home div#jumbo div.title h1 {
          font-size: 3rem;
          line-height: 3rem; } }
    div.home div#jumbo div.title p {
      margin: 0;
      font-size: 32px;
      font-size: 2rem;
      color: #5D9CEC; }
div.home div.recent-interviews {
  margin-top: 5%; }
  div.home div.recent-interviews h2 {
    font-size: 16px;
    font-size: 1rem;
    font-weight: 300;
    font-family: "Raleway", sans-serif;
    text-transform: lowercase;
    color: #434A54; }

div#progress-bar {
  position: fixed;
  background-color: red;
  width: 100%;
  height: 10px; }

header #car {
  display: block;
  padding: 40px 0 20px;
  margin: 0 auto;
  width: 150px; }
header nav {
  margin: 0 auto;
  padding: 20px 0 40px;
  text-align: center;
  font-family: "Raleway", sans-serif; }
  header nav a {
    position: relative;
    display: inline-block;
    margin: 0 8px;
    margin: 0 0.5rem;
    outline: none;
    color: #656D78;
    text-decoration: none;
    text-transform: lowercase; }
    header nav a:after {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 1px;
      background: #656D78;
      content: '';
      opacity: 0;
      transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
      transition: height 0.3s, opacity 0.3s, transform 0.3s;
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px); }
    header nav a:hover::after, header nav a:focus::after {
      height: 3px;
      opacity: 1;
      -webkit-transform: translateY(0px);
              transform: translateY(0px); }
  header nav a.active::after {
    height: 3px;
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }

footer {
  text-align: center;
  color: #AAB2BD; }
  footer div.footer {
    margin-top: 40px;
    margin-bottom: 0;
    text-align: right;
    font-size: 12px;
    font-size: 0.75rem;
    color: #AAB2BD; }
  footer div.footer-social {
    margin-top: 80px; }
    footer div.footer-social a {
      color: #AAB2BD;
      text-decoration: none;
      letter-spacing: 5px; }
      footer div.footer-social a:visited {
        color: #AAB2BD; }
      footer div.footer-social a:hover {
        color: #656D78; }
  footer div.footer-imprint {
    font-size: 12px;
    font-size: 0.75rem;
    margin-bottom: 80px; }
    footer div.footer-imprint span:nth-child(2) {
      margin-left: 10px; }

div.section-header {
  margin-top: 40px; }
  div.section-header h2 {
    font-size: 16px;
    font-size: 1rem;
    font-weight: 300;
    font-family: "Raleway", sans-serif;
    text-transform: lowercase;
    color: #434A54;
    display: inline; }
    div.section-header h2 span {
      font-weight: 500;
      font-style: italic;
      color: #48CFAD; }

.section-content {
  padding: 10px;
  background-color: rgba(204, 209, 217, 0.5); }

.search-form {
  float: right; }
  .search-form input {
    outline: none;
    border: none;
    width: 300px;
    border-bottom: 1px solid #CCD1D9;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    display: inline; }
  .search-form button {
    border: none;
    padding-bottom: 2px;
    background: none;
    color: #AAB2BD;
    font-size: 16px;
    font-size: 1rem;
    display: inline; }
    .search-form button:hover {
      cursor: pointer;
      color: #434A54; }
  .search-form:after {
    content: "";
    display: table;
    clear: both; }

.newsletter-form {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px; }
  .newsletter-form p {
    font-weight: 400;
    text-transform: lowercase; }
  .newsletter-form input {
    outline: none;
    border: none;
    width: 150px;
    background: none;
    border-bottom: 1px solid #CCD1D9;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    display: inline; }
  .newsletter-form button {
    border: none;
    padding-bottom: 2px;
    background: none;
    color: #48CFAD;
    font-size: 16px;
    font-size: 1rem;
    display: inline; }
    .newsletter-form button:hover {
      cursor: pointer;
      color: #434A54; }
  .newsletter-form:after {
    content: "";
    display: table;
    clear: both; }

/*# sourceMappingURL=main.css.map */