<figure background-color="{{post.categories[0].slug}}">
  <a href="/interviews/{{ post.slug }}">
    <img ng-show="{{ post.thumbnail_images }}" ng-src="{{ post.thumbnail_images.full.url }}"/>
  </a>
  <figcaption>

    <ul>
      <li ng-repeat="tag in post.tags">
        <a href="/interviews/tag/{{ tag.slug }}">{{ tag.slug }}</a>
        <span ng-hide="{{ $last }}">|</span>
      </li>
    </ul>

    <a class="post-link" href="/interviews/{{ post.slug }}"><h2>{{ post.title }}</h2></a>
    <p ng-bind-html="(post.excerpt | htmlToPlain | limitTo: 180) + '...'" class="post-meta"></p>
    <p class="post-category" font-color="{{ post.categories[0].slug }}">
      <a href="/interviews/category/{{ post.categories[0].slug }}"><i class="fa fa-flag"></i> {{ post.categories[0].slug }}</a>
    </p>
    <p class="post-date">{{ post.date | dateToISO }}</p>
  </figcaption>     
</figure>