<form action="//tanzmobil.us10.list-manage.com/subscribe/post?u=f734de6fd29878412f9de9afa&amp;id=60ed77be3c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="newsletter-form" target="_blank" novalidate>
  <p>Subscribe to our newsletter</p>
  <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="email">
  <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">
    <span><span class="fa fa-paper-plane-o"></span> Subscribe</span>
  </button>
</form>