// imports
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900);

// font
$font-size-main: 16px;

$font-main: 'Roboto', sans-serif;
$font-serif: 'Roboto Slab', serif;
$font-headline: 'Raleway', sans-serif;

// colors
$berry: #A05F89;
$green: #36B9A0;
$blue: #5D9CEC;

$berry-alpha: rgba($berry, 0.5);
$green-alpha: rgba($green, 0.5);
$blue-alpha: rgba($blue, 0.5);

$gray-light: #CCD1D9;
$gray-medium: #AAB2BD;
$gray-dark: #656D78;
$black: #434A54;

$gray-light-alpha: rgba($gray-light, 0.5);
$gray-medium-alpha: rgba($gray-medium, 0.5);
$gray-dark-alpha: rgba($gray-dark, 0.5);
$black-alpha: rgba($black, 0.5);